@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --vp-font-family-base: "Comfortaa", "Gen Jyuu Gothic Regular", "GenSenRounded TW R", sans-serif;
}

:root [lang^="zh"],
:root [lang^="zh-TW"] {
    --vp-font-family-base: "Comfortaa", "Gen Jyuu Gothic Regular", "GenSenRounded TW R", sans-serif;
}

:root [lang^="zh-CN"] {
    --vp-font-family-base: "Comfortaa", "Gen Jyuu Gothic Regular", "JiangChengYuanTi", sans-serif;
}